In [ ]:
ch.Akshith reddy
2203A51659

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:5]

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[:4]

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[-4:-1]

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
    import numpy as np
        thislist = ["apple", "banana", "cherry"]
            del thislist[0]
                thislist

In [ ]:
import numpy as np
thislist = ["apple", "banana", "cherry"]
thislist.clear()
thislist

In [ ]:
import numpy as np
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
thislist

In [ ]:
lst1=[1,2,3]
lst2=[4,5,6]
array1 = np.array(lst1)
array2 = np.array(lst2)
print("array2 multiplied by array1: ",array1*array2)
print("array2 divided by array1: ",array2/array1)
print("array2 raised to the power of array1: ",array2**array1)
type(array1)

In [ ]:
print("Sine: ",np.sin(array1))
print("Natural logarithm: ",np.log(array1))
print("Base-10 logarithm: ",np.log10(array1))
print("Base-2 logarithm: ",np.log2(array1))
print("Exponential: ",np.exp(array1))